.footer {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px;

        @include mobile {
            flex-direction: column;
        }
    }

    &__logo {
        @include mobile {
            margin-bottom: 10px;
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @include tablet {
            justify-content: center;
            gap: 10px;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-top: 1px solid #efefef;
        font-size: 12px;
        color: #8F8F8F;
        padding-top: 20px;
        padding-bottom: 20px;

        @include mobile {
            justify-content: center;
        }
    }
}