:root {
    --color-dark: #141312;
    --color-light: #ffffff;
    --color-orange: #FF7236;
    --color-yellow: #FAC663;
    --font-color: #1A212F;

    --container-width: 1170px;
    --container-padding-x: 10px;

    --font-Lato: "Lato";
    --font-lato-semibold: "Lato-Semibold"
    --font-Rubik: "Rubik";
    --font-Rubik-bold: "Rubik-Bold";

    --transition-duration: 0.2s;

    --box-shadow: 0 0 25px 0 rgba(208, 208, 208, 0.25);
    --slider-buttons-shadow:  0 2px 12px 0 rgba(173, 152, 143, 0.25);

    --column-gap-elements: 12px;
}

